* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.navbar-dark hr {
    background-color: lightgray;
    margin-bottom: 0;
}

#navbarNav, .navbar-nav {
    width: 100%;
}

#navbarNav .nav-item {
    display: block;
    width: 100%;
    padding-left: 8px;
    line-height: 2.5;
}

#navbarNav .nav-item:hover {
    background-color: lightgray;
    color: black;
    text-decoration: none;
}

#main-content {
    margin-top: 20px;
}

#chicken, #beef, #sushi {
    min-height: 500px;
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#chicken {
    min-height: 1000px;
}