* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.navbar-dark hr {
    background-color: #ffffff;
}

#main-content {
    margin-top: 20px;
}

#chicken, #beef, #sushi {
    min-height: 500px;
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#chicken {
    min-height: 1000px;
}